a {
    text-decoration: none;
    color: black;
}

li {
    margin-top: 30px;
    list-style-type: none;
}

main {
    text-align: center;
}
div.down{
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.534);
}
div.vbook{
    border-bottom: 1px solid black;
}
div.dbook{
    border-top: 1px solid black;
}