* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(219, 162, 162);
}

header {
    position: sticky;
    top: 0;
}

nav {
    display: flex;
    background-color: red;
    padding: 14px;
    justify-content: center;

}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

main {
    margin: 60px;
    padding: 5px;
}

main.cent {
    text-align: center;
}

main.na{
    height: 80vh;
    width: 80vw;
}
.na h1{
    height: 80vh;
    width: 80vw;
}

.back {
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.back button {
    background-color: rgba(201, 36, 36, 0.616);
    padding: 20%;
}
.back a{
    text-decoration: none;
    color: rgb(63, 44, 44);
}